[submodule "frameworks/SphereEngine"]
	path = frameworks/SphereEngine
	url = https://github.com/arizkami/SphereEngine
    update = none
[submodule "packages/shared/tabler-icons"]
	path = packages/shared/tabler-icons
	url = https://github.com/tabler/tabler-icons.git
[submodule "packages/shared/lucide"]
	path = packages/shared/lucide
	url = https://github.com/lucide-icons/lucide
[submodule "external/vst3sdk"]
	path = external/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk
