[Desktop Entry]
Name=Futureboard Studio
Comment=Digital Audio Workstation
Exec=FutureboardNative %U
Icon=futureboard-studio
Type=Application
Categories=AudioVideo;Audio;Music;
MimeType=application/x-fbproj;x-scheme-handler/fbrd;
StartupWMClass=FutureboardNative
Terminal=false
